{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": 2, // Means error
    "@typescript-eslint/no-explicit-any": "off"
  }
}
